header {
    display: flex;
    align-items: center;
    color: var(--text-color);
    background: var(--background-color-dark);
    border: 0 solid var(--background-color-accent);
    border-width: 0 0 0.12em 0;
}

header img {
    height: 5em;
    padding: 1em;
    padding-left: 15rem;
}

header nav {
    margin-left: auto;
    margin-right: 5rem;
}

header nav a {
    margin-left: 1.2em;
}

.LandingPageContent {
    display: flex;
    flex-direction: column;
}

.LandingPageContent .Headline {
    display: flex;
    color: var(--text-color);
    background-color: var(--background-color-dark);
    overflow: hidden;
}

.LandingPageContent .Headline > * {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.LandingPageContent .Headline .Left,
.LandingPageContent .Headline .Right {
    justify-content: space-between;
    padding: 8rem 0;
}

.LandingPageContent .Headline > * svg {
    fill: var(--logo-color);
    height: 7rem;
    width: 100%;
}

.LandingPageContent .Headline .Middle {
    text-align: center;
    align-items: center;
    padding-top: 5rem;
    min-height: 80vh;
    flex: 3;
}

.LandingPageContent .Headline .Middle ul {
    margin: 2rem;
}

.LandingPageContent .Headline .Middle ul li {
    display: inline;
    background: green;
    padding: 0.3rem 0.7rem;
    border-radius: 6rem;
}

.LandingPageContent .Headline .Middle ul li:nth-child(1) {
    background-color: aqua;
}

.LandingPageContent .Headline .Middle ul li:nth-child(2) {
    background-color: gold;
}

.LandingPageContent .Headline .Middle ul li:nth-child(3) {
    background-color: plum;
}

.LandingPageContent .Headline .Middle ul li:nth-child(4) {
    background-color: peru;
}

.LandingPageContent .Headline .Middle .Buttons {
    display: flex;
}

.LandingPageContent .Headline .Middle .Buttons button {
    width: unset;
    margin-top: 1.2rem;
    font-size: 1.3rem;
    margin-left: 1.2rem;
}

.LandingPageContent .Headline ul li:not(:last-child) {
    margin-right: 0.6rem;
}

.LandingPageContent .Headline h1 {
    font-size: 4rem;
    margin: 0 auto;
}

.LandingPageContent .Headline h2 {
    font-size: 1.1rem;
    font-weight: 100;
    margin: 2rem 0;
}

.LandingPageContent .Features {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 170vh;
}

.LandingPageContent .Features > * {
    position: sticky;
}

.LandingPageContent .Features .Title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    top: 0;
}

.LandingPageContent .Features .Feature {
    background-color: black;
    padding: 1.5rem 2.5rem;
    border-radius: 2rem;
    margin-top: 2rem;
}

.LandingPageContent .Features .Feature h3 {
    font-size: 1.8rem;
}

.LandingPageContent .Features .Feature:nth-child(2) {
    margin-top: 5rem;
    z-index: 3;
    top: 240px;
    background-color: #e5ebfe;
    color: #4d88e8;
}

.LandingPageContent .Features .Feature:nth-child(3) {
    z-index: 4;
    top: 320px;
    background-color: #fbe8e0;
    color: #ed6c4b;
}

.LandingPageContent .Features .Feature:nth-child(4) {
    z-index: 5;
    top: 400px;
    background-color: #e9ffe9;
    color: #78b28e;
}

.LandingPageContent .Features .Feature:nth-child(5) {
    z-index: 6;
    top: 480px;
    background-color: #e5ebfe;
    color: #4d88e8;
}

.LandingPageContent .Features img {
    width: 10rem;
    height: 10rem;
    margin: 1rem;
}

.LandingPageContent .Features .Feature {
    max-width: 600px;
}

.LandingPageContent .Features .Feature h3 {
    text-align: center;
    margin: 0.7rem;
}

footer {
    text-align: center;
    margin: 0.5em;
}
